
Qantum Time-Card/РЕЗОНАТОРЫ/OCXO Daughtercard/ECAD/ECAD/OCXO_DaughterCard.PcbDoc.htm
Qantum Time-Card/GNSS/UBlox/M2-NEO-M9N/ECAD/ECAD/M2_NEO-M9N_MODULE.PcbDoc.htm

/Incubation/Hardware/TimeStick2/Финальная версия/TIMESTICK_2 (26.01.2025 16-22-40)/History
/Incubation/Hardware/TimeCardV10/ECAD/History
/Incubation/Hardware/TimeCardV10/ECAD/Project Logs for Timingcard_PROJECT
/Incubation/Hardware/TimeCardV10/ECAD/__Previews
/Incubation/Hardware/TimeStick2/ECAD/History

Time-Card/HW/ECAD/Archive/TimeCard_v9/ECAD/Timingcard_PROJECT_v9.IntLib
ОПИСАНИЕ ТОВАРОВ.docx
*.step
/Time-Card/HW/ECAD/Archive/TimeCard_v9/ECAD/History
/Time-Card/HW/ECAD/Latest/ECAD_ИТОГ/History
/Time-Card/HW/ECAD/Archive/TimeCard_v9/ECAD/Project Logs for Timingcard_PROJECT_v9
/Time-Card/HW/ECAD/Latest/ECAD_ИТОГ/Project Logs for QANTUM_PROJECT
/Time-Card/РЕЗОНАТОРЫ/OCXO Daughtercard/ECAD/ECAD/History
/Incubation/Hardware/TimeStick2/ECAD/Project Logs for TIMESTICK_2
/Time-Card/HW/ECAD/Archive/TimeCard_v8/ECAD_V8/ECAD/History
/Time-Card/HW/ECAD/Archive/TimeCard_v9/ECAD/__Previews
/Time-Card/HW/ECAD/Archive/TimeCard_v8/ECAD_V8/ECAD/Project Logs for Timingcard_PROJECT
/Time-Card/HW/ECAD/Archive/TimeCard_v9/ECAD/MODELS/MBRD10200CT-13/History
/Time-Card/РЕЗОНАТОРЫ/OCXO Daughtercard/ECAD/ECAD/__Previews
/Time-Card/РЕЗОНАТОРЫ/OCXO Daughtercard/ECAD/ECAD/Project Logs for OCXO_DaughterCard
/Time-Card/HW/ECAD/Latest/ECAD_ИТОГ/__Previews
Time-Card ТЕНШ.467883.001/ХРАНИТЕЛИ ЧАСТОТЫ/Документация на генераторы/Microchip MAC-SA5X translated.pdf
~$аргалка децимальники.docx
Time-Card ТЕНШ.467883.001/МАТЕРИНСКАЯ ПЛАТА/ECAD/Archive/TimeCard_v9/ECAD/TimeCard-DC-V9_EXP.PcbDoc.htm
/Time-Card ТЕНШ.467883.001/МАТЕРИНСКАЯ ПЛАТА/ECAD/Archive/TimeCard_v9_init
/Time Stick ТЕНШ.467883.004/TimeStick2/ECAD/History
/Time Stick ТЕНШ.467883.004/TimeStick2/ECAD/History
/Time Stick ТЕНШ.467883.004/TimeStick2.1/ECAD/History
/Time Stick ТЕНШ.467883.004/TimeStick2.1/ECAD/Project Logs for TIMESTICK_2.1
/Grand Mini ТЕНШ.467883.002/ECAD/HW/History
/Grand Mini ТЕНШ.467883.002/ECAD/HW/Project Logs for GrandMini_v1
/Grand Mini ТЕНШ.467883.002/ECAD/HW/__Previews
/РАЗРАБОТКИ/Hardware/Switchberry/ECAD_V2/ECAD_V2/Project Logs for Switchberry
/РАЗРАБОТКИ/Hardware/Switchberry/ECAD_V2/ECAD_V2/History
