
Qantum Time-Card/РЕЗОНАТОРЫ/OCXO Daughtercard/ECAD/ECAD/OCXO_DaughterCard.PcbDoc.htm
Qantum Time-Card/GNSS/UBlox/M2-NEO-M9N/ECAD/ECAD/M2_NEO-M9N_MODULE.PcbDoc.htm

/Incubation/Hardware/TimeStick2/Финальная версия/TIMESTICK_2 (26.01.2025 16-22-40)/History
/Incubation/Hardware/TimeCardV10/ECAD/History
/Incubation/Hardware/TimeCardV10/ECAD/Project Logs for Timingcard_PROJECT
/Incubation/Hardware/TimeCardV10/ECAD/__Previews
